body {
  direction: rtl;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    45deg,
    #7bdff2,
    #b2f7ef,
    #a6f1e0,
    #63a4ff,
    #7bdff2
  );
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#calculator {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

input {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

#output {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

#madeBy {
  margin-top: 20px;
  font-size: 12px;
  color: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* SVG Styles */

.j-cls-1 {
  fill: #fffffb;
  stroke: #979a93;
  stroke-width: 11px;
}

.j-cls-2 {
  fill: #434244;
}

.j-cls-3 {
  fill: #ffd8a8;
}

.in-tube {
  fill: #cee1ea;
}

.cls-1,
.num-5,
.num-4,
.num-9,
.num-7,
.num-11,
.num-12,
.num-10,
.num-8,
.num-3,
.num-2,
.num-1,
.num-6 {
  stroke-miterlimit: 10;
}

.num-5,
.num-4,
.num-9,
.num-7,
.num-11,
.num-12,
.num-10,
.num-8,
.num-3,
.num-2,
.num-1,
.num-6 {
  stroke: #000;
  stroke-width: 0.25px;
}

.num-8 {
  fill: #000000;
}

.num-3 {
  fill: #00ff00;
}

.num-2 {
  fill: #f79646;
}

.num-1 {
  fill: #3366ff;
}

.num-6 {
  fill: #fff;
}

.num-5 {
  fill: #c0c0c0;
}

.num-4 {
  fill: #993300;
}

.num-9 {
  fill: #ffff00;
}

.num-7 {
  fill: #ff0000;
}

.num-11 {
  fill: #ffccff;
}

.num-12 {
  fill: #66ffff;
}

.num-10 {
  fill: #cc66ff;
}

#Main g:not(#Jacket) circle:not(.t) {
  transition: r 2s ease-in-out;
  overflow: visible;
  position: relative;
  z-index: 1;
}

#Main g:not(#Jacket) circle:not(.t).active {
  animation: scaleCircle 2s ease-in-out infinite;
  position: relative;
  z-index: 100;
}

@keyframes scaleCircle {
  0% {
    r: 6.77;
  }

  50% {
    r: 30;
  }

  100% {
    r: 6.77;
  }
}
